In [1]:
import pandas as pd

df = pd.read_csv('CleanedData.csv')

In [3]:
# Find the most expensive model for each brand
most_expensive_by_brand = df.loc[df.groupby('Brand')['price'].idxmax()][['Brand', 'VehicleModel', 'price']]
most_expensive_by_brand

             Brand                                   VehicleModel  price
3507         Acura                                       Tl Saber  18655
1050          Alfa                 My Model Which Is 147 Is  Best  18655
1973          Audi                                             Q5  47042
2625           Bmw                                            528  49864
4464         Buick                                         Encore  23521
4894      Cadillac                                            Cts  18655
3833     Chevrolet                                        Captiva  49174
640       Chrysler                                            300  23521
3270       Citroen                                             C8  23834
50          Daewoo                                        Unknown  18655
3811      Daihatsu                                           Mira  18655
891          Dodge                                       Ram 1500  28225
686           Fiat                                           500C  25089
1467          Ford                               Mustang Ecoboost  48610
5053           Gaz                                          24 10  18655
194            Gmc                                          Yukon  35752
1390     Greatwall                                            C30  10036
3912         Honda                                          Civic  49848
3050       Hyundai                                         Tucson  49889
4946      Infiniti                 My Model Which Is G37 Is  Best  35752
1847         Isuzu                                      Vehicross   9408
2413        Jaguar                  My Model Which Is Xf Is  Best  49143
1489          Jeep                                        Unknown  47408
46             Kia                                         Optima  39044
6848          Land                          Range Rover Evoque 20  42337
1384         Lexus                                         Es 300  49864
5144       Lincoln                                            Mkz  37633
5389      Maserati                                         Ghibli  17562
2026         Mazda                                           1000  37633
6851  Mercedesbenz                My Model Which Is Vito Is  Best  49864
6134       Mercury                                        Unknown  18655
6411          Mini        My Model Which Is Countryman S Is  Best  43278
6824    Mitsubishi                                          L 200  48610
4176      Moskvich                 My Model Which Is 401 Is  Best  18655
4039        Nissan                                         Patrol  42337
298           Opel              My Model Which Is Vectra Is  Best  18655
5938       Peugeot                                           3008  37633
3494       Pontiac                                             G6   6600
5497       Porsche             My Model Which Is Cayenne Is  Best  41083
2336       Renault  My Model Which Is Captur Qm3 Samsung Is  Best  29552
2818    Rollsroyce                                        Unknown  18655
575          Rover                                            416  18655
2039         Scion                                             Xd  14113
558           Seat                                           Leon   5959
683          Skoda                                  Octavia Scout  19757
987      Ssangyong              My Model Which Is Rexton Is  Best  47076
6775        Subaru                                        Impreza  39201
1462        Suzuki             My Model Which Is Samurai Is  Best  31361
6844        Toyota                                        Unknown  49864
539            Uaz               My Model Which Is 31514 Is  Best  18655
936        Unknown                                         Tucson  49858
647            Vaz                                      2121 Niva  18655
204     Volkswagen              My Model Which Is Passat Is  Best  36110
3038         Volvo                                        Unknown  21326

In [5]:
# Find the car type with the most cylinders
car_type_most_cylinders = df.loc[df['CylinderCount'].idxmax()][['Type', 'CylinderCount']]
car_type_most_cylinders

Type              Jeep
CylinderCount    Other
Name: 306, dtype: object

In [7]:
# Find the average price per car type
average_price_by_type = df.groupby('Type')['price'].mean().reset_index()
average_price_by_type

         Type         price
0   Cabriolet  17823.111111
1       Coupe  17607.888889
2       Goods  12241.264368
3   Hatchback  15215.471183
4        Jeep  22409.605510
5   Limousine  21872.000000
6    Microbus  18382.178218
7     Minivan  20771.841667
8      Pickup  25532.857143
9       Sedan  17260.803578
10  Universal  22732.046729
11    Unknown  19765.213139